{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/schedule.css')}}">
{% endblock %}

{% block main %}
    <div class="container">
      <nav>
        <a href="/schedule" class="logo"><img src="" alt="Logo/Home"></a>
        <a href="/profile">Profile</a>
        <div>
          Own sets
        </div>
        <div>
          Search Bar
        </div>
        <div>
          Add Subject
        </div>
      </nav> 
      <table>
        <tr>
          <th class="tdtime">Time</th>
          <th>Monday</th>
          <th>Tuesday</th>
          <th>Wednesday</th>
          <th>Thursday</th>
          <th>Friday</th>
        </tr>
        <tr>
          <td class="tdtime">8</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="tdtime">9</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="tdtime">10</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="tdtime">11</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="tdtime">12</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="tdtime">13</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="tdtime">14</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="tdtime">15</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="tdtime">16</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="tdtime">17</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table> 
      <footer>
        <form action="/action_page.php">
          <input type="checkbox" id="schedule_my" name="schedule_my" value="MySchedule">
          <label for="schedule_my">My Schedule</label>
          <input type="checkbox" id="schedule_shared" name="schedule_shared" value="SharedSchedule">
          <label for="schedule_shared">Shared Schedule</label>
        </form>
      </footer>
    </div>
{% endblock %}