{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/schedule.css')}}"/>
{% endblock %}


{% block main %}
<p>Switch to a different week: </p> 
<table>
    <tr>
        <td></td>
        {% for date in weekdates %}
            <td>{{ date }}</td>
        {% endfor %}
    </tr>
    {% for time in times %}
    <tr>
        <td>{{ time }}</td>
        {% for date in weekdates %}
        <td>
            {% for lesson in lessons %}
            {% if lesson.formatted_date == date and lesson.start_time <= time and lesson.end_time > time %} 
                {{ lesson.name }}
            {% endif %}
            {% endfor %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}