{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/addusertosubject.css')}}">
{% endblock %}

{% block main %}
<h2>{{ subject_names.name }}</h2>
<div class="button-container">
    <button><a href="/subject/{{ subject_id }}">Back</a></button>
</div>
<table>
    <tr>
        <th>Usergroup</th>
        <th>Users</th>
    </tr>
    <tr>
        <td>Admin</td>
        <td>{{ admin.first_name }}</td>
    </tr>
    <tr>
        <td>Editors</td>
        <td>{% for editor in editors %}
            {{ editor.first_name }}<br>
            {% endfor %}</td>
    </tr> 
    <tr>
        <td>Viewers</td>
        <td>{% for viewer in viewers %}
            {{ viewer.first_name }}<br>
            {% endfor %}</td>
    </tr>
</table>
<form method="POST">
    <label>Add a user: </label>
    <label for="email">E-mail</label>
    <input type="email" id="email" name="email" required/>
    <label for="userrole" class="userrole">Choose role:</label>
    <select name="userrole" id="userrole">
        <option value="editor">Editor</option>
        <option value="viewer">Viewer</option>
    </select>
    <button type="submit">Add</button>
</form>
{% endblock %}