{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/subjectcreator.css')}}">
{% endblock %}

{% block main %}
<h1>Create a Subject</h1>
<br><br>
<div class="container">
    <p><i class="arrow left"></i></p>
    <form>
        <div>
            <label for="fname">Subject name:</label><br>
            <input type="text" id="fname" name="fname"><br>
        </div>
        <div class="startenddate">
            <div class="startdate">
                <label for="startdate">Start Date:</label>
                <input type="date" id="startdate" name="startdate">
            </div>
            <div>
                <label for="enddate">End Date:</label>
                <input type="date" id="enddate" name="enddate">
            </div>
        </div>
        <!-- not the pretiest solution, maybe drop down menu? -->
        <div class="timeselectors">
            <div class="starttime">
                <label for="from">Select a time:</label>
                <input type="time" id="from" name="from"> 
                <label for="from">-</label>
            </div>
            <div class="endtime">
                <label for="until">Select a time:</label>
                <input type="time" id="until" name="until"> 
            </div>
        </div>
        <div>
            <p><button>Submit</button></p>
        </div>
    </form>
</div>
{% endblock %}