{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/subject.css')}}">
{% endblock %}

{% block main %}
    <a href="/subject" class="back-to-subjects">Back to subjects</a>
    <h2>{{ subject_name.name }}</h2>
    <br><br>
    <table>
        <tr>
            <th>Date</th>
            <th>Lesson Name</th>
            <th>Progress</th>
        </tr>
        {% for info in subject_info %}
            <tr>
                <th><a href="/lesson/{{ info.id }}">{{ info.formatted_date }}</a></th>
                {% if info.name == None %}
                    <th></th>
                {% else %}
                    <th>{{ info.name }}</th>
                {% endif %}
                {% if info.progress == None %}
                    <th>Not started</th>
                {% else %}
                    <th>{{ info.progress }}%</th>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <br>
    <h4>Progress</h4>
    <div class="progress-bar">
        <div class="progress" style="width: {{ progress }}%;"></div>
    </div>      
{% endblock %}