{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/subject.css')}}">
{% endblock %}

{% block main %}
    <h2>{{ subject.name }}</h2>
    <div class="button-container-container">
        <div class="button-container-left">
            <button><a href="/subject">Back</a></button>
        </div>
        <div class="button-container-right">
            <button><a href="/addusertosubject/{{ subject.id }}">Add a user to the subject</a></button>
            <button><a href="/lessonadder">Add a lesson</a></button>
        </div>
    </div>
    <table>
        <tr>
            <th>Date</th>
            <th>Lesson Name</th>
            <th>Progress</th>
            <th></th>
        </tr>
        {% for lesson in lessons %}
            <tr>
                <th><a href="/lesson/{{ lesson.Lesson.id }}">{{ lesson.Lesson.formatted_date }}</a></th>
                {% if lesson.Lesson.name == None %}
                    <th></th>
                {% else %}
                    <th>{{ lesson.Lesson.name }}</th>
                {% endif %}
                {% if lesson.progress == 0 %}
                    <th>No progress yet</th>
                {% else %}
                    <th>{{ lesson.progress }}%</th>
                {% endif %}
               <th><button class="deletebutton">Delete</button></th>
            </tr>
        {% endfor %}
    </table>
    <br>
    <h4>Progress</h4>
    <div class="progress-bar">
        <div class="progress" style="width: {{ progress }}%;"></div>
    </div> 
    <div class="deletebutton"><button>Delete Subject</button></div>
{% endblock %}