{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/subjects_page.css')}}">
{% endblock %}

{% block main %}
    <button class="button"><a href="/add_subject">Add a subject</a></button>
    <h1>Subjects</h1>
    <br><br>
    <div class="button-container">
        <ul>
        {% for subject in subjects %}
        <li>
            <button>
                <a href="/subject/{{ subject.id }}">{{ subject.name }}</a>
            </button>
        </li>
        {% endfor %}    
        </ul>
    </div>
{% endblock %}