.back-to-subject, .add_lesson {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
} 

.back-to-subject{
    top: 20px;
    left: 20px;
    display: block;
    width: fit-content;
    margin-top: 20px;
}

.add-lesson{
    top: 20px;
    right: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    font-size: 16px;
    font-family: Arial, sans-serif;
  }
  
  thead {
    background-color: #f2f2f2;
  }
  
  th {
    text-align: left;
    padding: 12px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  td {
    padding: 12px;
  } 

  a {
    color: black;
  }

  a:hover {
    color: grey;
  }
  p {
    font-size: 12px;
  }
