nav {
  background: red;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 50px;
}
.nav1 {
  margin-left: 20px;
  margin-right: 20px;
}
.nav1 {
  vertical-align: middle;
}

table {
  margin-top: 0.5%;
  width: 100%;
  table-layout: fixed;
  height: 600px;
}

td {
  border: 1px solid;
  max-width: 100%;
}

th {
  border: 1px solid;
}

td:not(.tdtime) {
  width: calc((100%-30px) / 5);
}

.tdtime {
  width: 30px;
}
