.input-container {
  text-align: center;
}

.date-input {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 5px;
  margin-top: 20px;
  width: fit-content;
}


container {
    display: flex;
    flex-direction: column;
}

table {
  width: 100%;
}


td {
  border: 1px solid black;
  padding: 8px;
}

form div {
    text-align: center;
}


.add-lesson {
  background-color: #4CAF50;
  border-radius: 4px;
  color: white;
  display: inline-block;
  font-size: 16px;
  margin-left: 20px;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}


.add-lesson:hover {
  background-color: #3e8e41;
}
