.flexcontainer {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
}

.button-container-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.button-container-left {
  width: 100%;
  display: flex;
  justify-content: start;
}

.button-container-right {
  width: 100%;
  display: flex;
  justify-content: end;
}

table, .progress-bar {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
  font-size: 16px;
  font-family: Arial, sans-serif;
}
  
thead {
  background-color: #f2f2f2;
}

th, td {
  text-align: left;
  padding: 12px;
  height: 10px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.progress-bar {
  width: 100%;
  max-width: 800px;
  height: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  margin-bottom: 30px
}

.progress {
  height: 100%;
  background-color: #2ec617;
  transition: width 0.5s ease-in-out;
}