.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    margin: 30px;
    /* =height */
    padding: 20px;
}


.left {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}


.container {
    display: flex;
    justify-content: center;
}

.startdate {
    margin-top: 50px;
}


.weekdayselector {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}


.dayselector {
    display: flex;
    flex-direction: row;
}

.day {
    width: 80px;
}


.daytimeselector {
    height: 30px;
}

.weekmonthselector {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}


.weekselector {
    display: flex;
    flex-direction: row;
}
