.flexcontainer {
    display: flex;
    flex-direction: column;
}

button {
    align-self: end;
}

ul {
    list-style-type: none;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:active { text-decoration: none; }