.flexcontainer {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
}


.button-container-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.button-container-left {
  display: flex;
  justify-content: start;
  width: 100%;
}


.button-container-right {
  display: flex;
  justify-content: end;
  width: 100%;
}


table, .progress-bar {
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 0 auto;
  width: 100%;
}


thead {
  background-color: #f2f2f2;
}

th, td {
  height: 10px;
  padding: 12px;
  text-align: left;
}


tr:nth-child(even) {
  background-color: #f2f2f2;
}

.deletebutton {
  display: flex;
  justify-content: end;
}


.progress-bar {
  background-color: #fff;
  border: 1px solid #ccc;
  height: 20px;
  margin-bottom: 30px;
  max-width: 800px;
  width: 100%;
}


.progress {
  background-color: #2ec617;
  height: 100%;
  transition: width 0.5s ease-in-out;
}
