<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/schedule.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Setbox</title>
  </head>
  <body>
    <header></header>
    <div class="container">
      <nav>
        <a href="schedule.html"><img src="" alt="Logo/Home"></a>
        <div>
          Profile
        </div>
        <div>
          Own sets
        </div>
        <div>
          Search Bar
        </div>
        <div>
          Add Subject
        </div>
      </nav>
    
      <div class="daytag1" id="monday">
        Monday
        <div class="hourtag" id="m8"></div>
        <div class="hourtag" id="m9"></div>
        <div class="hourtag" id="m10"></div>
        <div class="hourtag" id="m11"></div>
        <div class="hourtag" id="m12"></div>
        <div class="hourtag" id="m13"></div>
        <div class="hourtag" id="m14"></div>
        <div class="hourtag" id="m15"></div>
        <div class="hourtag" id="m16"></div>
        <div class="hourtag" id="m17"></div>
      </div>
      <div class="daytag2" id="tuesday">
        Tuesday
        <div class="hourtag" id="t8"></div>
        <div class="hourtag" id="t9"></div>
        <div class="hourtag" id="t10"></div>
        <div class="hourtag" id="t11"></div>
        <div class="hourtag" id="t12"></div>
        <div class="hourtag" id="t13"></div>
        <div class="hourtag" id="t14"></div>
        <div class="hourtag" id="t15"></div>
        <div class="hourtag" id="t16"></div>
        <div class="hourtag" id="t17"></div>
      </div>
      <div class="daytag3" id="wednesday">
        Wednesday
        <div class="hourtag" id="w8"></div>
        <div class="hourtag" id="w9"></div>
        <div class="hourtag" id="w10"></div>
        <div class="hourtag" id="w11"></div>
        <div class="hourtag" id="w12"></div>
        <div class="hourtag" id="w13"></div>
        <div class="hourtag" id="w14"></div>
        <div class="hourtag" id="w15"></div>
        <div class="hourtag" id="w16"></div>
        <div class="hourtag" id="w17"></div>
      </div>
      <div class="daytag4" id="thursday">
        Thursday
        <div class="hourtag" id="th8"></div>
        <div class="hourtag" id="th9"></div>
        <div class="hourtag" id="th10"></div>
        <div class="hourtag" id="th11"></div>
        <div class="hourtag" id="th12"></div>
        <div class="hourtag" id="th13"></div>
        <div class="hourtag" id="th14"></div>
        <div class="hourtag" id="th15"></div>
        <div class="hourtag" id="th16"></div>
        <div class="hourtag" id="th17"></div>
      </div>
      <div class="daytag5" id="friday">
        Friday
        <div class="hourtag" id="f8"></div>
        <div class="hourtag" id="f9"></div>
        <div class="hourtag" id="f10"></div>
        <div class="hourtag" id="f11"></div>
        <div class="hourtag" id="f12"></div>
        <div class="hourtag" id="f13"></div>
        <div class="hourtag" id="f14"></div>
        <div class="hourtag" id="f15"></div>
        <div class="hourtag" id="f16"></div>
        <div class="hourtag" id="f17"></div>
      </div>
    </div>
    <footer></footer>
  </body>
</html>
