{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/lesson.css')}}">
{% endblock %}

{% block main %}
<button><a href="/subject/{{ info.Subject.id }}" class="back-to-subject">Back to subject</a></button>
{% if info.Lesson.name == None %}
    <h2>{{ info.Subject.name }} - {{ info.Lesson.formatted_date }}</h2>
{% else %}
    <h2>{{ info.Lesson.name }} ({{ info.Subject.name }}) - {{ info.Lesson.formatted_date }}</h2>
{% endif %}
<table>
    <tr>
        <th>Name</th>
        <th>File type</th>
        <th>Review</th>
        <th>Delete</th>
    </tr>
    {% for file in files %}
    <tr>
        <th {% if file.reviewed == True %} style="text-decoration: line-through;"{% endif %}><a href="/files/{{file.filename}}" target="_blank">{{ file.name }}</a></th>
        <th>{{ file.type }}</th>
        <th {% if file.reviewed == True %} style="color: grey;"{% endif %}><a href="/done/{{ file.id }}">Done</a></th>
        <th><a href="/delete/{{ file.id }}">Delete</a></th>
    </tr>
    {% endfor %}
    <tr>
        <th>
            <form action="/upload/{{ info.Lesson.id }}" method="POST" enctype="multipart/form-data">
                <p><input type="file" name="file">
                Name: <input type="text" name="name"></p>
        </th>
        <th>
                <button type="submit">Upload</button>
            </form>
        </th>
        <th></th>
        <th></th>
    </tr>
</table>
<form>
    <label for="lessonname">Change lesson name:</label>
    {% if info.Lesson.name == None %}
        <input type="text" id="lessonname" value="{{ info.Subject.name }} - {{ info.Lesson.formatted_date }}">
    {% else %}
        <input type="text" id="lessonname" value="{{ info.Lesson.name }}">
    {% endif %}
</form>
{% endblock %}