{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/lessonadder.css')}}">
{% endblock %}

{% block main %}
<div class="container">
    <h1>Add a Lesson</h1>
    <table>
        <tr>
            <th>Subject</th>
            <th>
                <form method="POST">
                    <div class ="subjectselector">
                        <select name="subjects" id="subjects">
                            {% for subject in subjects %}
                                <option value="{{ subject.id }}">{{ subject.name }}</a>
                            {% endfor %} 
                        </select>
                    </div>
            </th>
        </tr>
        <tr>
            <th>Date</th>
            <th>
                    <div class ="dateselector">
                        <input type="date" id="lesson_date" name="lesson_date">
                    </div>
            </th>
        </tr>
        <tr>
            <th>Start Time</th>
            <th>
                <div class ="timeselector">
                    <input type="time" id="start_time" name="start_time">
                </div>
            </th>
        </tr>
        <tr>
            <th>End Time</th>
            <th>
                <div class ="timeselector">
                    <input type="time" id="end_time" name="end_time">
                </div>
            </th>
        </tr>
        <tr>
            <th>Lesson Name</th>
            <th>
                <div class ="nameinput">
                    <input type="text" id="lesson_name" name="lesson_name"><br>
                </div>
            </th>
        <tr/>
        <tr>
            <th></th>
            <th>
            <button>Submit</button>
            </form>
            </th>
        </tr>
    </table>
</div>
{% endblock %}