{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/lessonadder.css')}}">
{% endblock %}

{% block main %}
<div class="container">
    <h1>Add a Lesson</h1>
    <br><br>
        <div class ="subjectselector">
            <label for="subjects">Subject</label>
            <select name="subjects" id="subjects">
                    <!-- {% for subject in subject_names %}
                    <option value="{{ subject[1] }}">subject[1]>{{ subject[1] }}</a>
                    {% endfor %} -->
                <option value="maths">Maths</option>
                <option value="english">English</option>
                <option value="spanish">Spanish</option>
                <option value="german">German</option>
            </select>
        </div>
        <div class ="dateselector">
            <form action="/action_page.php">
                <div>
                    <label for="birthday">Select Date:</label>
                    <input type="date" id="birthday" name="birthday">
                </div>
                <div>
                    <label for="frequencyselector">Choose this automatically with frequency in "Subjects":</label>
                    <input type="checkbox" id="frequencyselector">
                </div>
            </form>          
        </div>
        <div class ="nameinput">
            <form>
                <label for="fname">Name Lesson:</label><br>
                <input type="text" id="fname" name="fname"><br>
            </form> 
        </div>
        <p><button>Submit</button></p>
</div>
{% endblock %}