{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/lessonadder.css')}}">
{% endblock %}

{% block main %}
<div class="container">
    <h1>Add a Lesson</h1>
    <table>
        <tr>
            <th>Subject</th>
            <th>
                <form>
                    <div class ="subjectselector">
                        <select name="subjects" id="subjects">
                    <!-- {% for subject in subject_names %}
                    <option value="{{ subject[1] }}">subject[1]>{{ subject[1] }}</a>
                    {% endfor %} -->
                            <option value="maths">Maths</option>
                            <option value="english">English</option>
                            <option value="spanish">Spanish</option>
                            <option value="german">German</option>
                        </select>
                    </div>
            </th>
        </tr>
        <tr>
            <th>Date</th>
            <th>
                    <div class ="dateselector">
                        <input type="date" id="lesson_date" name="lesson_date">
                    </div>
            </th>
        </tr>
        <tr>
            <th>Lesson Name</th>
            <th>
                <div class ="nameinput">
                    <input type="text" id="lesson_name" name="lesson_name"><br>
                </div>
            </th>
        <tr/>
        <tr>
            <th></th>
            <th>
            <button>Submit</button>
            </form>
            </th>
        </tr>
    </table>
</div>
{% endblock %}